<% 
// social networks handled by contacts
const networksWithColors = [
  ['facebook', '#3b5998'],
  ['instagram', '#e1306c'],
]

networksWithColors.forEach(([network, color]) => { %>
  <% if (contacts[network]) { %>
    <a
      href="<%= contacts[network] %>"
      target="_blank"
      rel="noopener"
      aria-label="<%= network %>"
      style="color: <%= color %>"
    >
      <i class="i-<%= network %>"></i>
    </a>
  <% } %>
<% }) %>
