// Add your custom CSS here.
:root{
    --f-size-1: 53.4px;
    --f-size-2: 42.7px;
    --f-size-3: 27.3px;
    --f-size-4: 21.9px;
    --f-size-5: 17.5px;
    --f-size-6: 14px;
    --f-size-7: 11.2px;

    --f-family-1: "Playfair Display";
    --f-family-2: "Mulish";

    --banner_spacer: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&display=swap');

body,
a,
span,
button,
div,
p,
small{
    font-family:var(--f-family-2), sans-serif;
    font-size:var(--f-size-6);
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1230px;
    }
}

.w-auto{width: fit-content;}
.align-items-center{align-items: center;}
.align-items-start{align-items: flex-start;}
.align-items-end{align-items: flex-end;}
.flex-row{flex-direction: row;}
.flex-col{flex-direction: column;}
.gap-1{gap: 1rem;}
.justify-content-between{justify-content: space-between;}
.justify-content-around{justify-content: space-around;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-end{justify-content: end;}
.text-center{text-align:center}
.text-uppercase{text-transform: initial;}
.text-bold{font-weight:bold}

header#header{
    background:#fff;
    border: 0;
    padding: 0!important;
    box-shadow: 0px 0px 0px;
    border-bottom: 1px solid #f2f2f2;
    .container-fluid:first-child{
        border-bottom: 1px solid #f2f2f2;
    }
}

#apx-menu{}
#apx-menu .level_1{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    
}
#apx-menu .level_1 > li{
    margin: 0 -19px;
    padding: 19px;
    button{
        border: 0;
        background: transparent;
        padding: 0;
    }
    .level_2{
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        left: -1px;
        min-width: 300px;
        padding: 2rem;
        position: absolute;
        top: 100%;
        opacity: 0;
        margin-top: 2rem;
        transition: all .2s;
        pointer-events: none;
        display: flex;
        gap: 3rem;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li{
                a{
                    font-size:var(--f-size-5);
                    text-transform: initial;
                    white-space: nowrap;
                    
                }
                a:hover{
                    text-shadow:0 0 1px black;
                    text-decoration: none;
                }
                
            }
        }
    }
}
#apx-menu .level_1 > li:hover{
    .level_2{
        margin-top: 0;
        opacity: 1;
        pointer-events: all;
    }
}
#apx-menu .level_1 > li > a{
    font-size:var(--f-size-5);
    text-transform: initial;
    text-decoration:none;
}

#apx-functions .header__buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
    a#user-button{font-weight: bold;}
    a,
    button{
        padding:0;
        background: transparent;
        border: 0;
        font-size: var(--f-size-5);
        color: #000;
        text-decoration: none;
        position: relative;
        margin: 0;

            #cart-count{
                display: block;
                font-size: var(--f-size-7);
                font-weight: bold;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 0;
                top: -8px;
                right: -8px;
            }
            #cart-count:empty:before{
                content:"0";
                display: block;
            }
        
    }

    .divider{
        height: 24px;
        background: #f2f2f2;
        width: 1px;
        display: block;
    }
}

#header{
    .apx_top_cta{
        *{
            font-size: var(--f-size-5);
        }
    }
}

#apx-footer{
    background: #f8f8f8;

    .apx-newsletter{
        h4{
            font-size: var(--f-size-4);
            font-family: var(--f-family-1);
            font-weight: bold;
            max-width: 100%;
            width: 300px;
        }
        form{
            border-bottom: 1px solid #000;
            display: flex;
            align-items: center;

            input{width: 100%;border: 0;background: transparent;font-size: var(--f-size-5);height: 40px;}
            button{
                background: transparent;
                border: 0;
                padding: 0;
            }
        }
        p:not(.footer__social){
            font-size: var(--f-size-7);
            a{text-decoration: underline;font-size: var(--f-size-7);}
        }
        p.footer__social{
            display: flex;
            gap:10px;
            a{
                color: #fff!important;
                background: #848484;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                margin: 0;
                text-align: center;
                line-height: 26px;
                opacity: 1;
                transition: all .2s;
                i{
                    font-size: 13px;
                }
            }
            a:hover{
                opacity: .5;
            }
        }

    }

    .content{
        h4{
            font-size: var(--f-size-4);
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .footer__contacts{
            li{margin-bottom: 5px;display: flex;align-items: center;gap: 5px;}
            a{
                font-size: var(--f-size-5);
            }

            p{
                color: #848484;
                font-size: var(--f-size-7);
            }
        }

        ul.links{
            list-style:none;
            padding: 0;
            margin: 0 0 3rem 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            a{
                font-size: var(--f-size-6);
            }
        }
    }

    .footer_credits{
        border-top: 1px solid #f2f2f2;
        span{
            font-size: var(--f-size-7);
        }
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            align-items: center;
            gap: 10px;
            span{
                font-size: calc(var(--f-size-7) * .9);
            }
            svg{
                filter: grayscale(1);
            }
        }
    }
}

#product-description,
.apx_section-title{
    h2{
        font-size: var(--f-size-2);
        font-family: var(--f-family-1);
        font-weight: normal;
        margin-bottom: 1.5rem;
    }
    small{
        font-size: var(--f-size-4);
        color: #848484;
        width: 600px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        line-height: initial;
        font-weight: 300;
    }
}

.apx_banner-slider{
    max-width:100%;
    height:auto!important;
    --banner-aspect-ratio:1!important;
    --banner-aspect-ratio-mobile:1!important;
}

.apx_banner{
    position:relative;
}
.apx_banner .apx_banner-content h3{
    font-size:var(--f-size-2);
    font-family:var(--f-family-1), sans-serif;
    font-weight:normal;
    text-transform: initial;
}
.apx_banner .apx_banner-content.inside_image h3{
    font-size:var(--f-size-1);
}
.apx_banner .apx_banner-content{
    width: 570px;
    max-width: 100%;
}
.apx_banner .apx_banner-content p{
    font-size:var(--f-size-4);
    line-height:calc(var(--f-size-4) * 1.4)!important;
    font-family:var(--f-family-2), sans-serif;
    line-height:initial;
    font-weight: 400;
    max-width:80%;
    display: block;
}
.apx_banner .apx_banner-content .buttons{
    gap: 1rem;
}
.apx_banner .apx_banner-content .buttons > a{
    font-weight: 700;
    height: 42px;
    padding: 0 2.5rem;
    text-transform: none;
    width: fit-content;
    font-size: var(--f-size-6);
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.transition_opacity{opacity: 1;transition: all .3s ease-in-out;}
.transition_opacity:hover{opacity: .7;}
.apx_banner .apx_banner-content > .cta a{
    font-size: var(--f-size-6);
    font-weight: 700;
    border-bottom: 1px solid transparent;
    width: fit-content;
    text-decoration: none;
    transition: border .2s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.apx_banner .apx_banner-content .cta a:hover{border-bottom-color: initial;}
.apx_banner .apx_banner-content .cta a:after{
    background: url("/assets/chevron_cta.svg");
    background-position: 0 1px;
    content: "";
    display: block;
    height: 16px;
    width: 15px;
    background-size: contain;
}
// .apx_banner:not(.outside) .apx_banner-content{margin:var(--banner_spacer) 0}
.apx_banner .apx_banner-content.inside_image{
    position:absolute;
}
.apx_banner .apx_banner-content.inside_image.top_left{
    top:var(--banner_spacer);
    left:var(--banner_spacer);
    bottom:auto;
    right:auto;
}
.apx_banner .apx_banner-content.inside_image.top_middle,
.apx_banner .apx_banner-content.inside_image.center_middle,
.apx_banner .apx_banner-content.inside_image.bottom_middle{text-align: center;}
.apx_banner .apx_banner-content.inside_image.top_middle{
    top:var(--banner_spacer);
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.top_right,
.apx_banner .apx_banner-content.inside_image.center_right,
.apx_banner .apx_banner-content.inside_image.bottom_right{text-align: right;}
.apx_banner .apx_banner-content.inside_image.top_right{
    top:var(--banner_spacer);
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
}

.apx_banner .apx_banner-content.inside_image.center_left{
    top:50%;
    left:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_middle{
    top:50%;
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_right{
    top:50%;
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.center_center{
    top:50%;
    left:50%;
    translate:-50% -50%;
}
.apx_banner .apx_banner-content.inside_image.bottom_left{
    top:auto;
    left:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_middle{
    top:auto;
    left:auto;
    right:auto;
    bottom:var(--banner_spacer);
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_right{
    top:auto;
    right:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.center_center *{margin-left:auto;margin-right:auto}
.apx_banner .apx_banner-content.top_left *,
.apx_banner .apx_banner-content.center_left *,
.apx_banner .apx_banner-content.bottom_left *{text-align:left}
.apx_banner .apx_banner-content.top_center *,

.apx_banner .apx_banner-content.center_center,
.apx_banner .apx_banner-content.bottom_center *{text-align:center;justify-content:center}
.apx_banner .apx_banner-content.top_right *,
.apx_banner .apx_banner-content.center_right *,
.apx_banner .apx_banner-content.bottom_right *{text-align:left}



.apx_banner.outside .left_image.apx_banner-content{
    order: -1;    
}
.apx_banner.outside .right_image.apx_banner-content{
    order: 99;    
}
.apx_banner.outside.center_left{
    align-items: center;
}

.container_90{
    width:100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.apx_responsive-banner .apx_banner{width: 100%;}
.apx_responsive-banner .apx_banner:not(.outside){width: fit-content;}

//options: ["top_left","top_center","top_right","center_left","center_center","center_right","bottom_left","bottom_center","bottom_right"]

.product-card__prices{flex: 0 0 auto;}


.product-card{
    border: 0;
    box-shadow: 0px 0px 0px;

    .product-card__offer-stamp{
        right: 1rem;
        border-radius: 5px;
    }
    .product-card__pictures{
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        height: calc(var(--width) * .7);
    }

    .product-card__name{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: var(--f-family-2);
        font-size: var(--f-size-3);
        text-transform: uppercase;
        color: #000;

        small{
            font-size: var(--f-size-6);
            color: #848484;
            text-transform: initial;
        }
    }

    .product-card_colors{
        display: flex;
        gap: .8rem;
        margin-top: 1rem;
        button{
            height: 26px;
            width: 26px;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 1px #f2f2f2;
            border: 0;
        }
        button.active{
            box-shadow: 0px 0px 0px 1px #000;
            border: 3px solid #fff;
        }
    }

    .product-card__prices{
        .prices__compare{
            font-size: var(--f-size-5);
            color: #848484;
            font-weight: 300;
        }
        .prices__value{
            font-size: var(--f-size-5);
            font-weight: bold;
            color: #000;
        }
        span:empty{display: none;}
    }
    
}
.product-card:hover{
    border: 0;
    box-shadow: 0px 0px 0px;
}

.apx_cta{
    .apx_banner{
        .apx_banner-content{
            width: 700px;
            p{
                max-width: 90%;
            }
        }
    }
}

.page{
    h1.product__name{
        font-size: var(--f-size-1);
        font-family: var(--f-family-1);
        color: #000;
    }
    .product__info.lead{
        font-size: var(--f-size-5);
        font-family: var(--f-family-2);
        color: #848484;
    }

    .variations{
        .variations__grid-title{display: none;}
        .variations__value{
            i{display: none;}

            margin: 0;
            font-size: var(--f-size-6);
            font-weight: bold;
            color: #848484;
        }

        .variations__grid--colors button{
            border: 3px solid #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 1px #f2f2f2;
            height: 30px;
            min-height: 0;
            min-width: 0;
            padding: 0;
            width: 30px;
            margin-right: .8rem;
        }
        .variations__option--selected:not(.disabled){
            box-shadow: 0px 0px 0px 1px #000;
        }
    }

    .product__prices{
        .prices__compare{
            small{display: none;}
            s{
                font-size: var(--f-size-5);
                color: #848484;
                font-weight: 300;
            }
        }
        .prices__value{
            font-size: var(--f-size-4);
            color: #000;            
        }
    }
    .product__buy{
        button.btn-primary{
            height: 56px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            span{
                font-size: var(--f-size-5);
                font-weight: 600;

            }
        }
    }
}
.apx-specs > div:nth-child(odd){
    background: #f8f8f8;
}
.apx-specifications{
    .apx_banner-content{
        h3{
            font-size: var(--f-size-4);
            color: #131313;
        }
        .apx-specs{
            *{font-size: var(--f-size-4);font-weight: 300;}
            color: #848484;
            b{
                color: #131313;
                font-weight: 600;
            }
        }
    }
    
}
#product-description .html-clearfix{
    width: 1000px;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
}
#product-description .html-clearfix *{
    color: #848484;
    text-align: center;
    line-height: 29px;
}

.custom_back,
.custom_close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 25px;
    width: 25px;
    background: transparent;
    border: 0;
    padding: 0;
}
.custom_back{
    right: auto;
    left: 1rem;
}
.custom_close:before,
.custom_close:after{
    content: "";
    height: 100%;
    width: 1px;
    background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
}
.custom_close:before{
    rotate: -45deg;
}
#custom_customizations.visible{
    right: 0;
}
#custom_customizations{
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 999;
    background: #fff;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    right: -460px;
    transition: right .3s ease-in-out;
    .customizations_header{
        display: flex;
        justify-content: space-between;
        gap: 5px;
        button{
            background: #f2f2f2;
            min-height: 24px;
            min-width: 24px;
            border-radius: 50%;
            border: 0;
            padding: 0;
            text-align: center;
            color: #848484;
        }
        button.active{
            background: #1e1e1e;
            color: #fff;
        }
        .button_cover{
            align-items: center;
            display: flex;
            flex: 1 1 auto;
            gap: 5px;
        }
        .button_cover:not(:last-child):after{
            content:"";
            display: block;
            width: 100%;
            height: 1px;
            background: #f2f2f2;
        }
        .button_cover:last-child{
            width: fit-content;
            flex: 0 1 auto;
        }
    }

    .customizations_body{
        position: relative;
        height: 100%;
        .step:not(.current){
            opacity: 0;
            pointer-events: none;
        }
        .step.last{
            display: flex!important;
            height: 100%;
            flex-direction: column;
        }
        .step{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .option_title{
                small{
                    font-size: var(--f-size-7);
                    color: #848484;
                }
                h4{
                    font-family: var(--f-family-1);
                    font-size: var(--f-size-5);
                }
            }
            .option_options{
                .option{
                    button{
                        background: #f2f2f2;
                        border: 0;
                        border-radius: 30px;
                        display: flex;
                        font-weight: 700;
                        height: 32px;
                        padding: 0 1rem;
                        align-items: center;                 
                    }
                    button:hover{
                        background: #1e1e1e;
                        color: #fff;
                    }
                    p{
                        color: #848484;
                    }
                }
            }
            .selected_option{
                small{
                    display: block;
                }
                b{
                    font-weight: normal;
                }
                strong{}
            }
            .subtotal{
                border-top: 1px solid #f2f2f2;
                height: 100%;
            }
            .btn.btn-primary{
                height: 56px;
                display: flex;
                align-items: center;
                font-weight: 600;
                text-align: center;
                justify-content: center;
            }
            .btn-back{
                border: 0;
                align-items: center;
                border-bottom: 1px solid transparent;
                display: flex;
                font-size: var(--f-size-6);
                font-weight: 700;
                gap: 5px;
                text-decoration: none;
                transition: border .2s;
                width: -moz-fit-content;
                width: fit-content;
                background: transparent;
                margin: 0 auto;
                padding: 0;
            }
            .btn-back:hover {
                border-bottom-color: initial;
            }
            .btn-back:before{
                background: url("/assets/chevron_cta.svg");
                background-position: 0 1px;
                content: "";
                display: block;
                height: 16px;
                width: 15px;
                background-size: contain;
                rotate: 180deg;
                margin-top: 2px;
            }
            .customization_functions {
                flex-direction: column;
                gap: 1rem;
            }
            
        }   
        .step.current{
            display: block;
        }
    }
}

#cart-quickview{
    .minicart__subtotal > span{
        font-weight: 600;
        color: #131313;
    }
    .minicart__subtotal{
        color: #131313;
        .prices__value{
            font-size: var(--f-size-4);
        }
    }
    .card-footer{
        padding: 1.5rem;
        background: #f8f8f8;
        border: 0;
        .minicart__btn-checkout,
        .minicart__btn-cart{
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            font-weight: 600;
            border-radius: 30px;
            font-size: var(--f-size-6);
            text-transform: capitalize;
            i{display: none;}
        }
        .minicart__btn-checkout{}
        .minicart__btn-cart{
            color: #131313;
            border-color: #131313;
        }
    }
    .card-header{
        background: #fff;
        border-bottom: 1px solid #f2f2f2;
        font-family: var(--f-family-1);
        font-size: var(--f-size-5);
        padding: 1rem 1.5rem;
        .close{
            span{
                display: none;
            }
        }
    
        .close{
            position: absolute;
            top: 1rem;
            right: 1rem;
            height: 25px;
            width: 25px;
            background: transparent;
            border: 0;
            padding: 0;
        }
        .close:before,
        .close:after{
            content: "";
            height: 100%;
            width: 1px;
            background: #1e1e1e;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            rotate: 45deg;
        }
        .close:before{
            rotate: -45deg;
        }
    }

    .cart-item:not(:first-child){
        border-top: 1px solid #f2f2f2;
        padding-top: 1.25rem;
    }
    .cart-item{
        .cart-item__container{align-items: flex-start;}
        picture{
            border-radius: 10px;
            border: 1px solid #f2f2f2;
        }
        .cart-item__data{
            display: flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;
            align-items: center;
            .cart-item__name{order: -10;width: 100%;}
            .cart-item__customizations{
                order: -9;margin-bottom: 1rem;
                width: 100%;
                div{
                    margin: .5rem 0 1rem 0;
                    color: #848484;
                    .text-muted{
                        font-weight: bold;
                        font-size: var(--f-size-7);
                        display: block;
                    }
                }
                div:last-child{margin-bottom: 0;}
                
            }
            .cart-item__quantity:after{
                content: "";
                position: absolute;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                border-top: 0;
                border-left: 0;
                height: 5px;
                width: 5px;
                rotate: 45deg;
                right: 8px;
                top: calc(50% - 3px);
            }
            .cart-item__quantity{
                order: -8;
                position: relative;
                max-width: 50px!important;
                select{
                    border: 0;
                    background: #f2f2f2;
                    font-size: var(--f-size-7);
                    
                }
                
            }
            .cart-item__prices{order: -7;
                font-weight: bold;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end!important;
                text-align: right;
                .cart-item__price-un,
                .cart-item__price-un *{
                    font-size: var(--f-size-7);
                    color: #848484;
                    font-weight: normal;
                }
            }
            .cart-item__quantity,
            .cart-item__prices{
                flex: 1 1 auto;
                margin: 0;
                display: flex;
                align-items: center;
                width: fit-content;
            }
            .close{
                position: absolute;
                color: #848484;
                top: 0;
                right: 0;
            }
        }
        .cart-item__name{
            font-weight: bold;
        }
    }
}

#product-gallery{
    .gallery{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
        max-width: 100%;
        .gallery__thumbs{
            display: flex;
            flex-basis: auto;
            justify-content: center;
            align-items: center;
            margin: 0;
            gap: 1rem;
            .gallery__item{
                height: 140px;
                max-width: 200px;
                border: 1px solid #f2f2f2;
                border-radius: 10px;
                margin: 0;
                picture{
                    max-height: 100%;
                    max-width: 100%;
                    display: block;
                    height: -webkit-fill-available;
                    img{
                        max-height: 100%;
                        max-width: 100%;
                        display: block;
                        height: -webkit-fill-available;
                    }
                }
            }
        }
    }
}

.product__prices{
    .prices--literal{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .prices__installments{
        font-size: var(--f-size-6);
        color: #848484;
        span{font-weight: normal;}
    }
}

#header {
    .max_menu{position: initial;}
    .level_1{
        .level_2.max_menu{width: 100vw;padding: 0;border-top: 1px solid #f2f2f2;}
        .level_2.max_menu > ul{
            display: flex;
            flex-direction: row;
            width: 100%;

            ul{
                gap: 15px;
                li{
                    a{
                        font-size: var(--f-size-5);
                    }
                }
            }
            
        }   
        .level_2.max_menu > ul > li{width: 100%;}     
        .level_2.max_menu > ul > li > div > div > a{
            font-size: var(--f-size-3);
            margin-bottom: 1rem;
            display: block;
            width: fit-content;
        }
        
    }
}
.w-100{width: 100%;}
.product-card__prices{
    flex-wrap: wrap;
    gap: 5px 1rem;
    span:last-child{
        width: 100%;
        text-align: right;
    }
}
.category-banner{
    position: relative;
    .page-title{
        max-width: 100%;
        position: absolute;
        text-align: left;
        padding: 3rem;
        bottom: 0;
        left: 0;
        margin: 0;
    }
}
.page-title__head{
    h1{
        font-family: var(--f-family-1);
        color: #131313;
        font-size: var(--f-size-1);
    }
}
.page-title__short-description{
    font-size: var(--f-size-5);
    color: #848484;
    max-width: 100%;
    width: 600px;
    display: block;
}


.product-card__offer-stamp{
    line-height: initial;
    height: 44px;
    min-width: 0!important;
    width: 44px;
    border-radius: 50%!important;
    box-shadow: 0px 0px 0px 2px #131313;
    border: 1px solid #fff;
    font-weight: bold;
    padding: 8px;
    font-size: 11px;
    top: 1.5rem!important;
    right: 1.5rem!important;
    font-weight: 300;
    background:#131313;
.i-arrow-down{display:none}
}
.product-card__offer-stamp:after{
content:"OFF";
display: block;
}
  
.product-card__picture img{
    max-height: 100%;
    max-width: 100%;
}

.product-card__pictures{
    picture,
    img{max-height: calc(var(--width) * .7);}
}

body{
    .search__box{
        width: 100%;
        margin: 0;

        .search__title{
            font-size: var(--f-size-4);
            color: #848484;
            font-weight: 600;
            padding: 2rem 0 0 2rem;
        }
        .search__header{
            background: #fff;
            padding: 0 2rem ;
            border: 0;

            .search__input-group{
                input{
                    border: 0;
                    border-bottom: 1px solid #000;
                    border-radius: 0;
                    font-family: var(--f-family-1);
                    font-size: var(--f-size-2);
                    color: #000;
                    padding: 0;
                }
            }
        }
        .custom_close{top: 2rem;right: 2rem;}
        .search__submit,
        .search__footer{display: none;}

    }
}

// *::-webkit-scrollbar {
// display: none;
// }


*::-webkit-scrollbar {
width: 5px;
height: 8px;
background-color: #f2f2f2; /* or add it to the track */
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
background: #131313;
}

.app{
    .checkout__back{
        a{ 
            border-radius: 0!important;
            padding: 0 0 2px 0!important;
            font-weight: 700;
            border: 0;
            height: auto;
            background: transparent!important;
            margin: .5rem auto 0 auto;
            display: block;
            color: #131313;
            width: fit-content;
        }
    }
    .summary__buyer{
        p,
        p *{font-size: var(--f-size-7);}
        small{color: #131313;font-weight: 600;}
        .btn-outline-secondary{
            border-radius: 0!important;
            padding: 0 0 2px 0!important;
            font-weight: 700;
            border: 0;
            height: auto;
            border-bottom: 1px solid #131313;
            background: transparent;
            margin: .5rem auto 0 0;
            display: block;
            width: fit-content;
            i{display: none;}            
        }
        h5{
            font-size: var(--f-size-5);
            color: #000;
        }
    }

    .checkout__notes{
        margin-top: 2rem;
        label{
            font-size: var(--f-size-5);
            color: #000;
        }
        textarea{
            border: 1px solid #f2f2f2;
            border-radius: 5px;
            padding: 1rem;
        }
    }
    .payment{
        .payment__method{
            border: 0;
            background: #fff;
            border: 1px solid #f8f8f8;
            box-shadow: 0px 0px 20px rgba(0,0,0,.1);
            border-radius: 5px;
            margin-top: 1rem;
            padding: 1.5rem;
            hr{display: none;}
            .btn-light{
                border-radius: 0!important;
                padding: 0 0 2px 0!important;
                font-weight: 700;
                border: 0;
                height: auto;
                border-bottom: 1px solid #131313;
                background: transparent;
                margin: 1.5rem auto 0 auto;
                display: block;
                width: fit-content;
                i{display: none;}
            }
            .payment__pay{height: 54px;}
            .payment__total{
                font-size: var(--f-size-4);
                text-align: center;
                strong{}
            }
        }
        .payment__gateway {
            margin-top: 1rem;
            border-radius: 5px!important;
            border:1px solid #f5f5f5!important;
            img{display: none;}
            .payment__badges{
                .badge{
                    height: 30px;
                    font-weight: 600;
                    background: #000;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    padding: 0 1rem;
                    margin: 0;
                }
                
            }
            .payment__head{align-items: center;}
            .payment__title{
                font-size:var(--f-size-5);
                line-height: 29px;
            }
            .payment__icon{display: none;}
        }
    }
    .btn-success{
        border-radius: 30px!important;
        font-weight: 600;
        height: 46px;
        padding: 0 2rem;
        background: #131313;
        border: 0;
        i{display: none;}
    }
    .recommended-items{display: none;}
    .login__confirm{
        max-width: 100%;
        background: #f8f8f8;
        padding: 2rem;
        border-radius: 0;
        border: 1px solid #ccc;
    }
    .input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea){
        height: 42px;
        padding-left: 0;
        background: transparent;
    }
    .login__info{display: none;}
    .login__email,
    .login__oauth{margin-top: 3rem;}

    .lead,
    .login__oauth .lead,
    [for="login-email"]{
        font-size: var(--f-size-5);
        color: #848484;
        font-weight: normal;
    }
    .btn-primary,
    .login__email-btn{
        background: #fff;
        color:#131313;
        border: 1px solid #131313;
        border-radius: 30px!important;
        height: 42px;
        display: flex;
        align-items: center;
        font-weight: 700!important;
        
    }
    .login__email-btn{
        i{display: none;}
    }
    .login{max-width: 600px;}
    .app__header{
        background: transparent;
        box-shadow: 0px 0px 0px;
        border-bottom: 1px solid #f2f2f2;
    }
    #cart{
        .cart > span > div > .col-md-7{
            max-width: 60%;
            margin-right: auto;
        }
    }
    .cart__list{
        .cart-item{
            border: 0;
            border-bottom: 1px solid #f5f5f5;
            padding: 2rem 0;
            .cart-item__container{
                
            }
            .cart-item__thumb{width: 240px;}
            .cart-item__name a{
                font-family: var(--f-family-1);
                font-size: var(--f-size-4);
                color: #000;
                text-decoration: none;
                margin-bottom: 1rem;
                display: block;
            }
            .cart-item__data .close{
                color: #ccc;
                line-height: 26px;
            }
            .item-customizations{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;
                div{
                    .text-muted{
                        display: block;
                        font-weight: 600;
                        color: #848484;
                    }
                }
            }
            .cart-item__prices{
                font-size: var(--f-size-5);
                color: #000;
                font-weight: 700;
                .cart-item__price-un{
                    font-weight: normal;
                    font-size: var(--f-size-7);
                    small{font-size: var(--f-size-7);}
                }
            }
        }
        
    }
    #storefront-app>div>h1{
        color: #000;
        font-size: var(--f-size-2);
        font-family: var(--f-family-1);
        text-align: center;
    }
    #cart{
        .cart{
            .cart__summary-row.cart__total{
                margin: 1.5rem 0;
                .prices__installments{margin-top: .3rem;}
                .prices__installments,
                .prices__installments *{
                    color: #131313!important;
                    font-size: var(--f-size-7)!important;
                    font-weight: normal;
                    span{font-weight: 700;}

                }
            }
            
        }
    }
    .cart__info{
        background: #fff;
        border: 1px solid #f2f2f2;
        padding: 1.5rem;

        
        .cart__btn-checkout{
            background: #000;
            border-radius: 30px;
            border: 0;
            font-weight: 600;
            height: 49px;
            font-size: var(--f-size-5);
            display: flex;
            align-items: center;
            justify-content: center;
            i{display: none;}
        }
    }
    .discount-applier{
        .discount-applier__coupon-btn{
            background: transparent;
            color: #000;
            display: block;
            width: fit-content;
            margin: 0 auto;
            border: 0;
            border-bottom: 1px solid #000;
            font-weight: 600;
            border-radius: 0;
            padding: 0 0 3px 0;
            i{display: none;}
        }
    }
    .checkout__col {
        .shipping-calculator__services .list-group-item{
            padding: 0.8rem 1.5rem;
            border: 1px solid #848484;
        }
        .shipping-calculator__services .list-group-item.active{
            background: #f8f8f8;
            border-left: 4px solid #848484;
        }
    }
    .card-footer{
        background: #f8f8f8;   
        color: #131313;
    }
    .account-addresses{
        .btn-outline-secondary{
            border-radius: 0!important;
            padding: 0 0 2px 0!important;
            font-weight: 700;
            border: 0;
            height: auto;
            border-bottom: 1px solid #131313;
            i{display: none;}
        }
    }
    .checkout__summary{padding: 0 .5rem 1rem .5rem;}
    .checkout__info{
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        background: #fff;
        padding: 1rem 2rem;
        .checkout__btn-offers {display: none;}
        .summary__title{display: none;}
        .summary__item{
            border-bottom: 1px solid #f5f5f5;
            padding: 1rem 0;
        }
        .summary__item picture + div,
        .badge-secondary{
            padding: 0!important;
            color: #848484;
            background: transparent;
            font-weight: normal;
            font-size: var(--f-size-7);
        }
        .badge-secondary:after{
            content: "x";
        }
        .summary__item picture + div{
            a{
                small{
                    color: #131313;
                    font-weight: 700;
                    margin: 5px 0;
                }
            }
            .item-customizations{
                div{margin-bottom: 5px;font-size: var(--f-size-7);}
                .text-muted{display: block;font-weight: 700;font-size: var(--f-size-7);}
            }
        }
        .summary__item picture{flex: 0 0 150px;width: 150px;}
    }
    .summary__amount{
        border: 0;
        margin: 0;
        padding: 0;
        .points-applier:empty{display: none;}
        span,
        div{color: #131313;font-weight: 600;}
        .summary__amount__row{
            border-bottom: 1px solid #f8f8f8;
            padding: 1rem 0;
            margin: 0;
            small{font-size: var(--f-size-7);color: #848484;}
        }
        .prices__installments{margin-top: .3rem;}
        .prices__installments,
        .prices__installments *{
            color: #131313!important;
            font-size: var(--f-size-7)!important;
            font-weight: normal;
            span{font-weight: 700;}

        }
        .summary__amount__row--total strong{color: #131313;}
        .discount-applier__intro{display: none;}
        
    }
    .checkout__discount{
        .discount-applier__intro{display: none;}
        .discount-applier__coupon-btn{
            margin: 2rem auto 1.5rem auto;
        }
        .discount-applier__form{
            background: #f8f8f8;
            padding: 1rem 2rem .5rem 2rem;
            margin: 0 -2.5rem 2rem -2.5rem;
            max-width: unset;
            input{background: transparent;}
        }
    }
}
#storefront-app>div>h1:before{display: none;}

.form-control{
    height: 34px;
    border: 0;
    border-bottom: 1px solid #131313;
    padding: 0;
    font-size: var(--f-size-6);
    border-radius: 0!important;
    margin-right: 1rem;
}
.discount-applier__form{
    padding: 0 1.5rem;
    .input-group{flex-wrap: nowrap;}
    label{font-weight: 700;}
}
.shipping-calculator__form{
    label{font-weight: 700;}
    .btn-outline-secondary:before{
        content: "Calcular";
    }
    .input-group{flex-wrap: nowrap;}
}
.btn-outline-secondary{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .i-shipping-fast{display: none;}
    border: 1px solid #131313;
    border-radius: 30px!important;
    color: #131313;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: var(--f-size-6);
}
.discount-applier__form input,
.shipping-calculator__input{max-width: unset;}

.shipping-calculator__services{
    .list-group-item{
        border: 1px solid #848484;
        padding: .5rem .8rem;
        color: #000;
        small{
            font-size: var(--f-size-7);
            color: #000;
            max-width: 100px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
            top: -3px;   
            right: -3px;
        }
    }
    .list-group-item.active{
        background: #f8f8f8;
    }
    .shipping-line>strong{min-width: unset;}
}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step.checkout__step--current:after,
.checkout__app .checkout__steps .checkout__step.checkout__step--past:after{
    content: "";
    height: 3px;
    position: absolute;
    width: calc(100% - 3px);
    background: #131313;
    bottom: 1px;
    right: 50%;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    background: #131313;
    border-radius: 50%;
    content: "";
    height: 16px;
    left: 50%;
    position: absolute;
    width: 16px;
    translate: -50% 0;
    bottom: -5px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:#000}
.checkout__app .checkout__steps .checkout__step--next{opacity: .3;}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

#apx-mobile-functions{
    button:before,
    button:after{
        position: absolute;
        background: #131313;
        width: 100%;
        height: 1px;
        display: block;
        content: "";
        top:0;
        left: 0;
    }
    button:after{width: 70%;top: 50%;}
    button{height: 16px;width: 22px;position: relative;background: transparent;border: 0;border-bottom: 1px solid #131313;padding: 0;}
}

.apx-specifications img{max-width: 100%;}

.container_90{padding: 0 20px;}

.container{
    .container_90,
    .container-fluid{padding-left: 0;padding-right: 0;}
}
.container_90{
    .container,
    .container-fluid{padding-left: 0;padding-right: 0;}
}
.container-fluid{
    .container,
    .container_90{padding-left: 0;padding-right: 0;}
}

[style="transition: opacity 150ms linear 0s; opacity: 0;"]{pointer-events: none!important;}

#multifocais{
    font-weight: 600;
    font-size: var(--f-size-5);
    width: fit-content;
    display: block;
    margin: 1rem auto;
}

@media(max-width:990px){
    
    :root{
        --f-size-1: 27px;
        --f-size-2: 24px;
        --f-size-3: 21.9px;
        --f-size-4: 17.5px;
        --f-size-5: 14px;
        --f-size-6: 12.6px;
        --f-size-7: 11px;
    }
    .header#header > div > div.row{
        margin: 0;
    }
    #cart-button img{height: 22px;}
    .header__logo{height: 20px;}
    #cart-count{
        height: 12px;
        width: 12px;
        font-size: 8px;
        line-height: 12px;
        top: 0;
    }

    #apx-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        background: #131313;
        height: 100vh;
    }
    #apx-menu.active{left: 0;}
    #apx-menu{
        color: #fff;
        left: -320px;
        transition: all .2s ease-in-out;
        .apx-menu-header{
            *{line-height: 0;}
            border-bottom: 1px solid #5a5a5a;
            margin: 0 -15px;
        }
        .menu-logo{
            img{filter: invert(1);height: 20px;}
        }
        .custom_close:after,
        .custom_close:before{background: #fff;}
        .custom_close{
            position: relative;
            translate: unset;
            top: unset;
            left: unset;
            margin-left: 1rem;
            height: 26px;
        }

        .level_1{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            position: absolute;
            top: 50%;
            translate: -50% -50%;
            left: 50%;
            li{
                margin: 0;
                padding: 0;
                a{
                    color: #fff;
                }
            }
            li.divider{
                width: 10px;
                height: 1px;
                background: #fff;
            }
            
        }
    }
    
    .apx_responsive-banner{
        .apx_banner:not(.outside) {
            width: 100%;
            .apx_banner-content{
                right: 0;
                left: 0;
                margin: 0;
                padding: 3rem;
                text-align: center;
                justify-content: center;
                p{margin: 1.5rem auto;max-width: 100%;}
                *{text-align: center;margin-left: auto;margin-right: auto;}
                .buttons{
                    flex-direction: column;
                    padding: 0 3rem;
                    a{width: 100%;text-align: center;justify-content: center;}
                }
                .cta{margin-top: 1rem;}
            }
        }
        .apx_banner.outside > a{order: -1;height: auto;margin: 0 -20px 5% -20px;}
        .apx_banner.outside{            
            flex-direction: column;
            h3{}
            p{
                margin: 1.5rem 0;
                max-width: 100%;
            }
            .buttons{
                a{}
            }
            .cta{
                margin-top: 1.5rem;
                a{}
            }
        }
    }
    .apx_cta{
        .apx_banner{
            h3{margin: 0;}
            .apx_banner-content{
                width: fit-content;
                margin: 0 auto;
            }
            p{margin: 1.5rem 0;}
            .cta{margin-top: 1.5rem;}
        }
    }
    .product-card{
        section{
            div.p-3{
                padding-left: 0;
                padding-right: 0;
                .d-flex{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                .prices{flex-direction: row;text-align: left;justify-content: flex-start;
                    *{
                        text-align: left;
                    }
                }
            }
        }
        .product-card_colors{
            button{
                height: 18px;
                width: 18px;
                border-width: 2px;
            }
        }
    }
    .container_90{max-width: 100%;}
    // .container,
    // .container-fluid,
    // .container_90{padding-left: 20px;padding-right: 20px;max-width: 100%;width: 100%;}
    #header .container-fluid{padding-left: 0;padding-right: 0;}
    .footer_credits{
        .container{
            a{margin-top: 1rem;}
            a span{font-size: 0!important;}
            .d-flex{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            
        }
    }
    #apx-footer{
        .apx-newsletter{
            text-align: center;
            h4{margin-left: auto;margin-right: auto;max-width: 220px;}
            .footer__social{
                text-align: center;
                justify-content: center;
                margin-top: 1.5rem;
                margin-left: auto;
                margin-right: auto;
            }
            p{
                display: block;
                margin-left: auto;
                margin-right: auto;
                a{display: block;}
            }
        }
        .content{
            justify-content: center;
            align-items: center;
            text-align: center;
            ul,
            ul > li{
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .footer__contacts{
                a{
                    font-size: var(--f-size-4);
                }
                img{height: 18px;}

            }
        }
    }

    #product-gallery{
        .gallery{
            .gallery__thumbs{
                width: 100%;
            justify-content: center;
                gap: 5px;
                .gallery__item{
                    border: 0;
                    height: auto;
                    picture{display: none!important;}
                }
                .gallery__item.gallery__item--selected:before{
                    background: #000;
                }
                .gallery__item:before{
                    width: 30px;
                    height: 2px;
                    border-radius: 0;
                    background: #F2F2F2;
                }
            }
        }
    }
    #page-products{
        h1.product__name{
            margin: 1rem 0 0 0;
        }
        .apx-specs{
            *{font-size: var(--f-size-5);}
        }
        #custom_customizations{
            width: 100%;
            padding: 1rem;
            .option_options{
                max-height: 60vh;
                overflow-y: auto;
                padding: 0 1rem;
            }
        }
    }
    .minicart__btn-back,
    #cart-quickview .card-footer .minicart__btn-cart{display:none}

    .header__search{
        .d-md-none{
            input{
                background: #f8f8f8;
                border-top: 1px solid #f2f2f2;
                border-bottom: 0;
                padding: 10px 15px;
                height: 38px;
            }
            button{
                img{height: 18px;}
            }
        }
        #instant-search{
            .backdrop{top:95px!important}
            .search__box.card > div:first-child{display: none;}
            .search__box.card{
                top:95px;
                border: 0;
                background: rgba(0,0,0,.3);

                .search__body.card-body{
                    max-height: 50vh;
                    padding: 0;
                    .backdrop{display: none!important;}
                    .search-engine__retail > .row{margin: 0;}
                    .search-engine__retail > .row > div{padding: 0;}
                    .search-engine__retail{
                        padding: 0;
                        
                        .product-card{
                            background:#fff;
                            border-radius: 0;
                            padding: 1rem;
                            min-height: unset;
                            border-bottom: 1px solid #f2f2f2;
                            section > .product-card__link{width: 90px;}
                            section > .p-3{padding: 0;}
                            section > a{}
                            section{
                                flex-direction: row;
                                gap: 1rem;
                                align-items: flex-start;
                            }
                            h3.product-card__name small,
                            h3.product-card__name{
                                font-size: var(--f-size-6)!important;
                                color: #000;
                                font-weight: 500;
                                display: inline-block;
                                text-transform: initial;
                            }
                            .product-card__offer-stamp{
                                font-size: 9px;
                                height: 36px;
                                width: 36px;
                                padding: 6px;
                            }
                        }
                    }                    
                }
                
            }
        }
    }
}