// Add your custom CSS here.
:root{
    --f-size-1: 53.4px;
    --f-size-2: 42.7px;
    --f-size-3: 27.3px;
    --f-size-4: 21.9px;
    --f-size-5: 17.5px;
    --f-size-6: 14px;
    --f-size-7: 11.2px;

    --f-family-1: "Playfair Display";
    --f-family-2: "Mulish";

    --banner_spacer: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&display=swap');

body,
a,
span,
button,
div,
p,
small{
    font-family:var(--f-family-2), sans-serif;
    font-size:var(--f-size-6);
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1230px;
    }
}

.w-auto{width: fit-content;}
.align-items-center{align-items: center;}
.align-items-start{align-items: flex-start;}
.align-items-end{align-items: flex-end;}
.flex-row{flex-direction: row;}
.gap-1{gap: 1rem;}
.justify-content-between{justify-content: space-between;}
.justify-content-around{justify-content: space-around;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-end{justify-content: end;}
.text-center{text-align:center}
.text-uppercase{text-transform: initial;}
.text-bold{font-weight:bold}

header#header{
    background:#fff;
    border: 0;
    padding: 0!important;
    box-shadow: 0px 0px 0px;
    border-bottom: 1px solid #f2f2f2;
    .container-fluid:first-child{
        border-bottom: 1px solid #f2f2f2;
    }
}

#apx-menu{}
#apx-menu .level_1{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    
}
#apx-menu .level_1 > li{
    margin: 0 -19px;
    padding: 19px;
    button{
        border: 0;
        background: transparent;
        padding: 0;
    }
    .level_2{
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        left: -1px;
        min-width: 300px;
        padding: 3rem;
        position: absolute;
        top: 100%;
        opacity: 0;
        margin-top: 2rem;
        transition: all .2s;
        pointer-events: none;
        display: flex;
        gap: 3rem;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li{
                a{
                    font-size:var(--menu_lv2);
                    text-transform: initial;
                    white-space: nowrap;
                    
                }
                a:hover{
                    text-shadow:0 0 1px black;
                    text-decoration: none;
                }
                
            }
        }
    }
}
#apx-menu .level_1 > li:hover{
    .level_2{
        margin-top: 0;
        opacity: 1;
        pointer-events: all;
    }
}
#apx-menu .level_1 > li > a{
    font-size:var(--f-size-5);
    text-transform: initial;
    text-decoration:none;
}

#apx-functions .header__buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
    a#user-button{font-weight: bold;}
    a,
    button{
        padding:0;
        background: transparent;
        border: 0;
        font-size: var(--f-size-5);
        color: #000;
        text-decoration: none;
        position: relative;
        margin: 0;

            #cart-count{
                display: block;
                font-size: var(--f-size-7);
                font-weight: bold;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 0;
                top: -8px;
                right: -8px;
            }
            #cart-count:empty:before{
                content:"0";
                display: block;
            }
        
    }

    .divider{
        height: 24px;
        background: #f2f2f2;
        width: 1px;
        display: block;
    }
}

#header{
    .apx_top_cta{
        *{
            font-size: var(--f-size-5);
        }
    }
}

#apx-footer{
    background: #f8f8f8;

    .apx-newsletter{
        h4{
            font-size: var(--f-size-4);
            font-family: var(--f-family-1);
            font-weight: bold;
            max-width: 100%;
            width: 300px;
        }
        form{
            border-bottom: 1px solid #000;
            display: flex;
            align-items: center;

            input{width: 100%;border: 0;background: transparent;font-size: var(--f-size-5);height: 40px;}
            button{
                background: transparent;
                border: 0;
                padding: 0;
            }
        }
        p:not(.footer__social){
            font-size: var(--f-size-7);
            a{text-decoration: underline;font-size: var(--f-size-7);}
        }
        p.footer__social{
            display: flex;
            gap:10px;
            a{
                color: #fff!important;
                background: #848484;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                margin: 0;
                text-align: center;
                line-height: 26px;
                opacity: 1;
                transition: all .2s;
                i{
                    font-size: 13px;
                }
            }
            a:hover{
                opacity: .5;
            }
        }

    }

    .content{
        h4{
            font-size: var(--f-size-4);
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .footer__contacts{
            li{margin-bottom: 5px;display: flex;align-items: center;gap: 5px;}
            a{
                font-size: var(--f-size-5);
            }

            p{
                color: #848484;
                font-size: var(--f-size-7);
            }
        }

        ul.links{
            list-style:none;
            padding: 0;
            margin: 0 0 3rem 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            a{
                font-size: var(--f-size-6);
            }
        }
    }

    .footer_credits{
        border-top: 1px solid #f2f2f2;
        span{
            font-size: var(--f-size-7);
        }
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            align-items: center;
            gap: 10px;
            span{
                font-size: calc(var(--f-size-7) * .9);
            }
            svg{
                filter: grayscale(1);
            }
        }
    }
}

.apx_section-title{
    h2{
        font-size: var(--f-size-2);
        font-family: var(--f-family-1);
        font-weight: normal;
        margin-bottom: 1.5rem;
    }
    small{
        font-size: var(--f-size-4);
        color: #848484;
        width: 600px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        line-height: initial;
        font-weight: 300;
    }
}

.apx_banner-slider{
    max-width:100%;
    height:auto!important;
    --banner-aspect-ratio:1!important;
    --banner-aspect-ratio-mobile:1!important;
}

.apx_banner{position:relative}
.apx_banner .apx_banner-content h3{
    font-size:var(--f-size-2);
    font-family:var(--f-family-1), sans-serif;
    font-weight:normal;
    text-transform: initial;
}
.apx_banner .apx_banner-content.inside_image h3{
    font-size:var(--f-size-1);
}
.apx_banner .apx_banner-content{
    width: 570px;
    max-width: 100%;
}
.apx_banner .apx_banner-content p{
    font-size:var(--f-size-4);
    line-height:calc(var(--f-size-4) * 1.4)!important;
    font-family:var(--f-family-2), sans-serif;
    line-height:initial;
    font-weight: 400;
    max-width:80%;
    display: block;
}
.apx_banner .apx_banner-content .buttons{
    gap: 1rem;
}
.apx_banner .apx_banner-content .buttons > a{
    font-weight: 700;
    height: 42px;
    padding: 0 2.5rem;
    text-transform: none;
    width: fit-content;
    font-size: var(--f-size-6);
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.transition_opacity{opacity: 1;transition: all .3s ease-in-out;}
.transition_opacity:hover{opacity: .7;}
.apx_banner .apx_banner-content > .cta a{
    font-size: var(--f-size-6);
    font-weight: 700;
    border-bottom: 1px solid transparent;
    width: fit-content;
    text-decoration: none;
    transition: border .2s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.apx_banner .apx_banner-content .cta a:hover{border-bottom-color: initial;}
.apx_banner .apx_banner-content .cta a:after{
    background: url("/assets/chevron_cta.svg");
    background-position: 0 1px;
    content: "";
    display: block;
    height: 16px;
    width: 15px;
    background-size: contain;
}
// .apx_banner:not(.outside) .apx_banner-content{margin:var(--banner_spacer) 0}
.apx_banner .apx_banner-content.inside_image{
    position:absolute;
}
.apx_banner .apx_banner-content.inside_image.top_left{
    top:var(--banner_spacer);
    left:var(--banner_spacer);
    bottom:auto;
    right:auto;
}
.apx_banner .apx_banner-content.inside_image.top_middle,
.apx_banner .apx_banner-content.inside_image.center_middle,
.apx_banner .apx_banner-content.inside_image.bottom_middle{text-align: center;}
.apx_banner .apx_banner-content.inside_image.top_middle{
    top:var(--banner_spacer);
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.top_right,
.apx_banner .apx_banner-content.inside_image.center_right,
.apx_banner .apx_banner-content.inside_image.bottom_right{text-align: right;}
.apx_banner .apx_banner-content.inside_image.top_right{
    top:var(--banner_spacer);
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
}

.apx_banner .apx_banner-content.inside_image.center_left{
    top:50%;
    left:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_middle{
    top:50%;
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_right{
    top:50%;
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.center_center{
    top:50%;
    left:50%;
    translate:-50% -50%;
}
.apx_banner .apx_banner-content.inside_image.bottom_left{
    top:auto;
    left:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_middle{
    top:auto;
    left:auto;
    right:auto;
    bottom:var(--banner_spacer);
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_right{
    top:auto;
    right:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.center_center *{margin-left:auto;margin-right:auto}
.apx_banner .apx_banner-content.top_left *,
.apx_banner .apx_banner-content.center_left *,
.apx_banner .apx_banner-content.bottom_left *{text-align:left}
.apx_banner .apx_banner-content.top_center *,

.apx_banner .apx_banner-content.center_center,
.apx_banner .apx_banner-content.bottom_center *{text-align:center;justify-content:center}
.apx_banner .apx_banner-content.top_right *,
.apx_banner .apx_banner-content.center_right *,
.apx_banner .apx_banner-content.bottom_right *{text-align:left}



.apx_banner.outside .left_image.apx_banner-content{
    order: -1;    
}
.apx_banner.outside .right_image.apx_banner-content{
    order: 99;    
}
.apx_banner.outside.center_left{
    align-items: center;
}

.container_90{
    width:100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.apx_responsive-banner .apx_banner{width: 100%;}
.apx_responsive-banner .apx_banner:not(.outside){width: fit-content;}

//options: ["top_left","top_center","top_right","center_left","center_center","center_right","bottom_left","bottom_center","bottom_right"]

.product-card__prices{flex: 0 0 auto;}


.product-card{
    border: 0;
    box-shadow: 0px 0px 0px;

    .product-card__offer-stamp{
        right: 1rem;
        border-radius: 5px;
    }
    .product-card__pictures{
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        height: calc(var(--width) * .7);
    }

    .product-card__name{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: var(--f-family-2);
        font-size: var(--f-size-3);
        text-transform: uppercase;
        color: #000;

        small{
            font-size: var(--f-size-6);
            color: #848484;
            text-transform: initial;
        }
    }

    .product-card_colors{
        display: flex;
        gap: .8rem;
        margin-top: 1rem;
        button{
            border: 2px solid #f2f2f2;
            height: 26px;
            width: 26px;
            border-radius: 50%;
        }
        button.active{
            box-shadow: 0px 0px 0px 1px #000;
        }
    }

    .product-card__prices{
        .prices__compare{
            font-size: var(--f-size-5);
            color: #848484;
            font-weight: 300;
        }
        .prices__value{
            font-size: var(--f-size-5);
            font-weight: bold;
            color: #000;
        }
        span:empty{display: none;}
    }
    
}
.product-card:hover{
    border: 0;
    box-shadow: 0px 0px 0px;
}

